<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wtu.dao.ShopMapper">

    <!-- 查询用户数据 -->
    <select id="seleteShop" resultType="map">

			select * from shop

		</select>
<insert id="insertShop" parameterType="com.wtu.pojo.Shop">
    insert into shop(Gname,Gprice) values (${Gname},${Gprice});
</insert>
</mapper>